@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#carousel_image {
  max-height: 720px;
}

#logo-inkindo {
  width: 180px;
}

.navbar-background {
  background: rgba(255, 255, 255, 0.7);
}

.caption-background {
  background: rgba(255, 255, 255, 0.7);
}

.center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.a {
  text-decoration: none;
}

.kategori {
  font-size: 16px;
  margin: 4.5px;
  text-decoration: none;
  padding-top: 4px;
  color: black;
}

.kategori:hover {
  background-color: black;
  color: white;
}

.kode-1 {
  font-family: "Poppins";
  padding-top: 35px;
  padding-bottom: 20px;
}

.kode-2 {
  color: gray;
  padding-left: 140px;
  padding-right: 140px;
  font-size: 16px;
  font-family: "Poppins";
}

.center-card {
  height: 80px;
}

.lingkaran1 {
  width: 90px;
  height: 66px;
  background: #207fc1;
  border-radius: 50%;
  border-top-left-radius: 100% 160%;
  border-top-right-radius: 100% 160%;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 18px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.nomer {
  text-align: center;
  padding-top: 15px;
  color: white;
  font-size: 22px;
  font-family: "Poppins";
}

.card-text {
  padding: 8px;
  font-size: 12.3px;
  font-family: "Poppins";
}

.pembungkus {
  width: 1167px;
  height: 283px;
  top: 82px;
  background: url("../assets/img/kode.png");
  opacity: 0.9;
}

#tree {
  width: 100%;
  height: 100%;
}

.bg-roadmap {
  background: url("../assets/img/background-roadmap.png") center/contain no-repeat;
}

.border-syarat {
  background: #0a425c;
  border-radius: 10px;
}

.syarat1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 30px;
}